{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
{% url 'upload_nse' as upload_file_url %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<a href="{{ upload_file_url }}" style="margin-left:92%;margin-bottom:1%;margin-top:0%;border:1px outset" class="btn btn-primary" data-toggle="tooltip" title="Upload new file">Upload Link</a>



<div id='loader' style='display: none;'>

  </div>

<table id="votes_list" class="display", style="width:100%">
     <thead>
         <tr>
             
            <th>File Id</th>
             <th>Uploaded file </th>
             <th>Action</th>

         </tr>
     </thead>
     <tbody>
         {% for data in upload_json %}
             <tr>
                 
                <th>{{data.id }}</th>
                <th><a href="{{ data.get_absolute_url }}" >{{ data.get_file_name }}</a></th>
               {% csrf_token %}


               <th class="myclass">  
                    {% if data.is_processed %}
                    <button type="submit" id="disabledbtn"  class="btn btn-success active" data-toggle="tooltip" title="Already approved" disabled>
                      Approve
                    </button>
                    {% else %}
                    <button type="submit" id="disabledbtn" class="disable btn btn-success active" data-toggle="tooltip" title="Approve now">Approve</button>
                    {% endif %}
               </th>

             </tr>
         {% endfor %}
     </tbody>
</table>
<div class="pag" style="position: absolute; right: 50px;">
    {% if is_paginated %}
    <ul class="pagination";>
    {% if page_obj.has_previous %}
        <li>
            <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
        </li>
    {% endif %}
        <li class="">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
        </li>
    {% if page_obj.has_next %}
        <li>
            <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
        </li>
    {% endif %}
    </ul>
    {% endif %}
    </div>

    <script>
        $('.disable').click(function(){
          $(this).prop('disabled', true);
        });

    </script>

{% endblock %}
